@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<style>
    .custom-field {
        position: relative;
        font-size: 15px;
        border-top: 10px solid transparent;
        margin-bottom: 5px;
        display: inline-block;
        --field-padding: 12px;
        width: 100%;
    }

    .field-icon {
        float: right;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        margin-right: 10px;
    }
}
        .custom-field input {
            border: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #f2f2f2;
            padding: 9px;
            border-radius: 3px;
            outline: none;
            font-size: 14px;
        }

        .custom-field .placeholder {
            position: absolute;
            left: var(--field-padding);
            width: calc(100% - (var(--field-padding) * 2));
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            top: 22px;
            transform: translateY(-50%);
            color: #aaa;
            transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
        }

        .custom-field .input.dirty + .placeholder,
        .custom-field .input:focus + .placeholder,
        .custom-field input:not(:placeholder-shown) + .placeholder {
            top: -10px;
            font-size: 10px;
            color: #222;
        }

        .custom-field .error-message {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 8px;
            font-size: 12px;
            background: #d30909;
            color: #fff;
            height: 24px;
        }

            .custom-field .error-message:empty {
                opacity: 0;
            }

        /* ONE */
        .custom-field.one input {
            border: 2px solid #ddd;
            transition: border-color 0.3s ease;
            width: 100%;
        padding: 8px;
        }

            .custom-field.one input + .placeholder {
                left: 8px;
                padding: 0 5px;
            }

            .custom-field.one input.dirty,
            .custom-field.one input:not(:placeholder-shown),
            .custom-field.one input:focus {
                border-color: #007bff;
                transition-delay: 0.1s
            }

                .custom-field.one input.dirty + .placeholder,
                .custom-field.one input:not(:placeholder-shown) + .placeholder,
                .custom-field.one input:focus + .placeholder {
                    top: 0;
                    font-size: 10px;
                    color: #222;
                    background: #fff;
                    width: auto
                }

    .inputcolor {
        background-image: linear-gradient(to right, #f8fdff, #fff5ff) !important;
    }

    span.placeholder {
        font-weight: 400;
        color: black !important;
    }

</style>
<script>
   $(document).ready(function(){
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
   });
    function Insert() {
        var Id = $('#Id').val();
        var EmailAddress = $('#EmailAddress').val();
        var Password = $('#password-field').val();
        $.ajax({
            type: "POST",
            url: "/Api/Login/Login",
            data: JSON.stringify({
                "id": Id,
                "EmailAddress": EmailAddress,
                "Password": Password
            }),
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                window.location.href = "@Url.Action("Index", "Home")", msg;
            }
        });
    }
</script>
<section class="vh-100 bg-image"
         style="background: linear-gradient( rgb(0 0 0 / 50%), rgb(252 252 252 / 50%) ); background-image: url('../img/eCommerce-Website-Components-photo.jpg'); background-size: cover; ">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" id="myform">
                <div class="col-12 col-md-9 col-lg-7 col-xl-4">
                    <div class="card" style="border-radius: 15px;border-radius: 15px;background-color: #ffffff;opacity: 0.9;">
                        <div class="card-body p-1 p-lg-3 p-md-3  ">
                            <h3 class="text-uppercase text-center mb-1 pt-3 " style="font-family: 'Poppins', sans-serif;font-weight:700;">
                                Sign In
                            </h3>
                            <div class="p-2">
                                <form id="form">
                                    <label class="custom-field one">
                                        <input class="inputcolor" type="email" placeholder="" name="email" id="EmailAddress" required/>
                                        <span class="placeholder">EmailAddress</span>
                                    </label>
                                    <label class="custom-field one">
                                        <input  id="password-field" type="password" class="inputcolor" name="password" value=""/>
                                        <span class="placeholder">Password</span>
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </label>
                                    <div class="icheck-primary ">
                                        <input type="checkbox" id="remember">
                                        <label class="mt-3" for="remember" style="font-weight:400;">
                                            Remember Me
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button"
                                                onclick="Insert()"
                                                runat="server"
                                                class="btn  btn-block btn-lg gradient-custom-4  w-75 text-light rounded-pill border-0 mt-3"
                                                style="background-image: linear-gradient(to right,  #6dff9c,#6ab2ff);">
                                            Sign In
                                        </button>
                                        <asp:ValidationSummary runat="server" ShowMessageBox="true" ShowSummary="false">
                                    </div>
                                    <div class="container">
                                        <p class="text-center pt-3 m-0">Already have an account? <a href="@Url.Action("Register","Account")">Register Here </a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
