@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="container-fluid px-2 px-md-3 py-3">User</h2>
</div>


<div class="container-fluid px-2 px-md-3 ">
    <div class="bg-white mb-3 shadow-lg bg-white rounded px-md-3 px-1 py-4" style="Border-top: 4px solid #343a40">

        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="my-3">
                        <div class="p-2">
                            <label for="" class="py-1 h5 font-weight-normal">First Name</label>
                            <input type="text" class="form-control " placeholder="Enter Your First Name  " name="First Name ">
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="p-2">
                            <label for="" class="py-1 h5 font-weight-normal">UserName  </label>
                            <input type="text" class="form-control " placeholder="Enter Your UserName " name="UserName">
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="p-2">
                            <label for="" class="py-1 h5 font-weight-normal">Telephone  </label>
                            <input type="text" class="form-control " placeholder="Enter Your Telephone " name="Telephone">
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class=" my-3">
                        <div class="p-2">
                            <label for="" class="py-1 h5 font-weight-normal">Last Name </label>
                            <input type="text" class="form-control " placeholder="Enter Your Last Name " name="Last Name ">
                        </div>
                    </div>
                    <div class=" my-3">
                        <div class="p-2">
                            <label for="" class="py-1 h5 font-weight-normal">Password </label>
                            <input type="number" class="form-control " placeholder="Enter Your City" name="City">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-check " style="margin-left:10px;">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Is Active
                        </label>
                    </div>

                </div>
            </div>
            <div class="text-right my-3 card-footer">
                <button type="button" class="btn btn-outline-danger  mx-1">Reset</button>
                <button type="button" class="btn btn-primary mx-1 border-0" style="background-color: #343a40;">Submit</button>

            </div>
        </form>
    </div>
</div>

